
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2 class="text-center">Trabajo Practico Final</h2>

<h3 class="text-center">Micaela Conenna</h3>
<h3 class="text-center">Nicolas Brizuela</h3>

<br />

<div class="col-lg-6 col-lg-offset-3">

    <div class="jumbotron">
        <div class="container-fluid">
            <h2 class="text-center">Bienvenido/a</h2>
            <p>Bienvenido a nuestro administrador de tareas, donde encontraras todas las funcionalidades necesarias para poder gestionar tus tareas pendientes. Podras crear carpetas para agrupar tus tareas, darles prioridades, una fecha y poder completarlas (dejando un registro claro). Si es tu primera vez con nosotros puedes @Html.ActionLink("registrarte", "NuevoUsuario", "Usuario")</p>
        </div>
    </div>

</div>