
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2 class="text-center">Trabajo Practico Final</h2>

<h3 class="text-center">Micaela Conenna</h3>
<h3 class="text-center">Nicolas Brizuela</h3>